<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe List</title>
</head>
<body>
    <h1 th:text="'Recipe List'">Page Title</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>DESCRIPTION</th>
            <th>COOK_TIME(minutes)</th>
            <th>DIFFICULTY</th>
        </tr>
        <tr th:each="recipe: ${recipes}">
            <td th:text="${recipe.getId()}">Id</td>
            <td th:text="${recipe.getDescription()}">Description</td>
            <td th:text="${recipe.getCookTime()}">Cook time</td>
            <td th:text="${recipe.getDifficulty().toString()}">Difficulty</td>
        </tr>
    </table>
</body>
</html>